@import url(https://fonts.googleapis.com/css?family=Comfortaa:700);

body {
  /*margin-top: 50px;  Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  width: 100%;
}

/* Fullpage 1920x1080 img, 100% height and width of webpage */
.full {
  background: url('../img/bground.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position:relative;
  height: 100%;
  width:100%;
}

/* Transparent grey overlay, starting top-left position 0 - 100% height and width */
.layer {
  background: rgba(0,0,0,.5);
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

header {
  color: #fff;
  padding: 30px 30px;
}

header span {
  color: #e1403d;
}

#title {
  font-family:'Comfortaa', cursive;
  font-weight: 700;
  font-size: 60px;
}

a {
  text-decoration: none;
  color: #333;
}

.clearfix {
  clear:both;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height: 60px;
  color: #fff;
  text-align: center; 
  background: rgba(0,0,0,.25);
  padding-top: 20px;
}